* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #DCDCDC;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #696969;
}

header img {
    display: block;
    width: 150px;
    height: 100px;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}

main {
    display: flex;
    background-color: #1C1C1C;
    justify-content: center;
    padding: 30px
}

main section {
    width: 775px;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    background-color: #FFFAFA;
    color: #4F4F4F;
}

main section h1 {
    padding: 25px;
}

main section h2 {
    padding: 25px;
}