* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #DCDCDC;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #15151E;
}

header img {
    display: block;
    width: 150px;
    height: 100px;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

header a {
    text-decoration: none;
    font-family: "siliguri", sans-serif;
    font-weight: bold;
    color: #15151E;
    font-size: 25px;
}

header a:hover {
    color: #E10600;
}

main {
    display: block;
    background-color: #15151E;
    margin: 0 auto;
    padding: 30px;
}

main section {
    width: 60%;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    background-color: #FFFAFA;
    color: #15151E;
    font-family: "siliguri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

main section h1 {
    padding: 25px;
    font-family: "bungee", sans-serif;
    font-size: 55px;
    color: #E10600;
    font-weight: bold;
}

main section h2 {
    padding: 25px;
    font-family: "bungee", sans-serif;
    font-size: 45px;
    color: #E10600;
    font-weight: bold;
}

.calendar {
    display: block;
    width: 60%;
    margin: 0 auto;
}

footer {
    background-color: #DCDCDC;
    font-family: "siliguri", sans-serif;
    font-size: 24px;
    color: #15151E;
    text-align: center;
    padding: 60px;
    font-weight: bold;
}